@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?t74iho');
    src: url('../fonts/icomoon.eot?t74iho#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?t74iho') format('truetype'),
        url('../fonts/icomoon.woff?t74iho') format('woff'),
        url('../fonts/icomoon.svg?t74iho#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.iconfont {
    font-family: icomoon;
}

.w {
    width: 1920px;
    margin: 0 auto;
}

body {
    background-color: #f1f1f1;
}

header {
    position: relative;
    /* width: 1920px; */
    height: 120px;
    background-color: #fff;
    line-height: 120px;
}

.dropdown {
    width: 360px;
    height: 2227px;
    background-color: #fff;
}

.logo {
    position: absolute;
    top: 30px;
    left: 60px;
}

.dd {
    height: 2000px;
}

.dd ul {
    position: absolute;
    top: 120px;
    left: 0px;
    line-height: 67px;
    margin-left: 30px;
}

.dd ul li {
    /* float: left; */
    width: 320px;
    height: 67px;
    font-size: 18px;
    font-weight: 550;
    color: #999ea3;
    padding-left: 35px;
}


.dd ul li a>i {
    float: left;
    margin-right: 20px;
}

.dd ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #999ea3;
}

.dd ul li:hover {
    background-color: rgba(58, 85, 219, .1);
}

.dd ul li a:hover {
    color: #3a55db;
}

.dd ul .int {
    position: absolute;
    top: 85px;
    left: 140px;
    width: 38px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: #fff;
    border-radius: 10px;
    background-color: #3a55db;
}

.dd ul li em {
    float: right;
    margin-right: 50px;
}

.dd .su {
    font-weight: 400;
}

.banner {
    position: absolute;
    top: 900px;
    left: 50px;
}

.banner .banner_box {
    position: absolute;
    top: 150px;
    left: 24px;
    width: 198px;
    height: 60px;
    font-size: 18px;
    font-weight: 800;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 15px;
}

.search {
    position: absolute;
    top: 45px;
    left: 350px;
    width: 567px;
    height: 40px;
    border: 2px solid #ebebeb;
    border-radius: 10px;
    margin-left: 30px;
}

.search input {
    float: left;
    width: 500px;
    height: 36px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 10px;
}

.search button {
    float: right;
    width: 63px;
    height: 36px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 10px;
}

.About_us {
    position: absolute;
    top: 0px;
    left: 1000px;
}

.About_us ul li {
    float: left;
    font-size: 16px;
    padding-right: 40px;
    font-weight: 700;
}

.About_us ul li a:hover {
    color: #3a55db;
}

.chat {
    position: absolute;
    top: 20px;
    left: 1250px;
}

.chat ul li {
    float: left;
    padding-right: 10px;
}

.chat .tag {
    position: absolute;
    top: -5px;
    width: 23px;
    height: 23px;
    background-color: #48525c;
    text-align: center;
    line-height: 23px;
    font-size: 14px;
    color: #fff;
    border-radius: 26px;
    margin-left: 40px;
}

.profile {
    position: absolute;
    top: 25px;
    right: 60px;
}

.content {
    position: relative;
    top: 30px;
    left: 360px;
    width: 1564px;
    margin-left: 10px;
}

.content_top {
    margin-left: 65px;
    font-weight: 400;
}

.content_top h2 {
    font-size: 28px;
    margin-bottom: 10px;
    width: 150px;
}

.content_top h3 {
    float: left;
    font-size: 16px;
    margin-right: 80px;
}

.content_top .pt a {
    color: #3a55db;
}

.month {
    position: relative;
    top: -50px;
    left: 800px;
}

.month input {
    position: absolute;
    top: 40px;
    left: 325px;
    background-color: #f4f5f9;
}